@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col">
		<form>
			<div class="row">
				<div class="col">
					<div class="autocomplete">
						<input type="search"
							   class="form-control"
							   id="product-lookup"
							   placeholder="Begin by typing name of a product"
							   hx-get='/api/products'
							   htmx-added="hidden"
							   hx-swap="outerHTML"
							   hx-trigger="input changed delay:500ms, search"
							   hx-target="#product-lookup-results" />
						<div id="product-lookup-results" class="autocomplete-items hidden"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
@section header {
	<link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />
}
@section footer {
	<script src="~/js/index.js" asp-append-version="true"></script>
} 